body {
  margin: 0;
  padding-top: 5rem;
}

.main-header {
  width: 100%;
  position: fixed;
  background: gray;
  padding: 1.2rem 0;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header a {
  text-decoration: none;
  color: black;
  padding-bottom: 0.2rem;
  font-family: 'Ubuntu', sans-serif;
}

.main-header a:hover {
  color: white;
  border-bottom: 5px solid white;
}

.main-header__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.logout-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.main-nav__item {
  margin: 0 1rem;
  font-weight: bold;
}

.main-nav__item--cta a {
  color: white;
  background: black;
  padding: 0.5rem 1rem;
  border-radius: .5rem;
}

.main-nav__item--cta a:hover {
  color: black;
  background: white;
  border: none;
}

.home-page {
  display: flex;
  justify-content: space-between;
}

.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border: .2rem solid black;
  width: 16rem;
}

.new-user-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.new-user {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border: .2rem solid black;
  width: 16rem;
}

.add-lesson {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border: .2rem solid black;
  width: 16rem;
}

.new-user__heading {
  display: flex;
  align-items: center;
}

.new-user__form {
  display:flex;
  align-items: center;
  flex-direction: column;
}

.new-user__form-input {
  margin: 0.4rem 0;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login__heading {
  display: flex;
  align-items: center;
}

.login-form {
  display:flex;
  align-items: center;
  flex-direction: column;
}

.login-form__input {
  margin: 0.4rem 0;
}

.profile-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.short-lesson-plan {
  background: rgb(100, 171, 201);
  text-align: center;
  margin: 1rem;
  border-radius: 3rem;
  padding: 2rem;
  display: inline-block;
  width: 11rem;
}

.short-lesson-plan__title {
}

.short-lesson-plan__grade {
  background: rgb(196, 205, 207);
}

.short-lesson-plan__subject {
  background: rgb(196, 205, 207);
}

.full-lesson-plan {
  background: blue;
  text-align: center;
  padding: 4rem;
  margin: 1rem;
  display: inline-block;
  width: 40rem;
}

.add-lesson {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.add-lesson__heading {
  display: flex;
  align-items: center;
}

.add-lesson-form {
  display:flex;
  align-items: center;
  flex-direction: column;
}

.add-lesson-form__input {
  margin: 0.4rem 0;
}
